@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/_variables.scss';
@import './styles/_keyframe-animations.scss';


/* Prose Styling */
/* .ProseMirror {
  min-height: 300px;
}
.ProseMirror:focus {
  outline: none;
} */

/* Prose styling inside the editor */
.prose p {
  margin-top: .0em;
  margin-bottom: .0em;
}

.prose hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose ol li::marker {
  color: #666666;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.prose th,
.prose td {
  border: 1px solid #ccc;
  padding: 8px;
  min-width: 1em;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.prose th {
  font-weight: bold;
  background-color: #f2f2f2;
  text-align: left;
}

.grip-column {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 4px;
  cursor: col-resize;
}

.prose img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
